---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline" style="color:red">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}


  {% if page.comment_id %}
    {% include comments.html %}
  {% endif %}

<!--
  <div id="comments">
  <h2>Comments</h2>
  <div id="header">
    <a href="https://github.com/izuzak/izuzak.github.com/issues/{{page.commentIssueId}}"> Post a Comment </a>
  </div>
-->
</div>

</article>
